<form autocomplete="off">
    {{> "dnd5e.advancement-controls"}}

    <div class="form-group">
        <label>Action Type</label>
        <div class="form-fields">
            <select name="configuration.actionType" data-dtype="String">
                {{ selectOptions actionTypes selected=configuration.actionType }}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Increase</label>
        <div class="form-fields">
            <input type="number" name="configuration.increase" value="{{configuration.increase}}" min="1" step="1" placeholder="1" />
        </div>
    </div>
</form>